<i18n lang="yaml">
en:
  read-more: "Read more"

fr:
  read-more: "Lire plus"
</i18n>

<template>
  <rounded-card tag="article" height="100%" class="d-flex flex-column">
    <universal-link :to="href" :nuxt="nuxt">
      <v-img
        :src="thumbnailImage"
        height="252px"
        style="border-radius: 1.5rem 1.5rem 0px 0px;"
      />
    </universal-link>

    <div class="d-flex flex-column flex-grow-1 align-start px-6 py-6">
      <time :datetime="createdAt" class="text--secondary mb-2">
        {{ localeFormattedDate }}
      </time>

      <universal-link :to="href" :nuxt="nuxt" class="title__link mb-4">
        <h2 class="text-h5 font-weight-bold">
          {{ title }}
        </h2>
      </universal-link>

      <p class="text--secondary flex-grow-1 mb-4">{{ description }}</p>

      <v-btn
        rounded
        depressed
        nuxt
        :to="href"
        :color="secondary ? 'black' : 'primary'"
        :outlined="outlined"
        :dark="secondary"
        class="font-weight-bold"
        :class="{ 'text-capitalize': buttonCapitalize }"
      >
        {{ $t('read-more') }}

        <v-icon right size="24">
          mdi-chevron-right
        </v-icon>
      </v-btn>
    </div>
  </rounded-card>
</template>

<script>
import { format } from 'date-fns'
import { enUS, fr } from 'date-fns/locale'

import RoundedCard from './RoundedCard.vue'
import UniversalLink from './UniversalLink.vue'

function formatLocaleDate(isoDate, locale) {
  const locales = {
    fr,
    en: enUS,
  }

  return format(new Date(isoDate), 'PP', {
    locale: locales[locale],
  })
}

export default {
  name: 'BlogArticleThumbnail',
  components: {
    RoundedCard,
    UniversalLink,
  },
  props: {
    thumbnailImage: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    createdAt: {
      type: String,
      required: true,
    },
    slug: {
      type: String,
      required: true,
    },

    nuxt: {
      type: Boolean,
      default: false,
    },
    secondary: {
      type: Boolean,
      default: false,
    },
    outlined: {
      type: Boolean,
      default: false,
    },
    buttonCapitalize: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    href() {
      return this.localePath(`/blog/${this.slug}`)
    },
    localeFormattedDate() {
      console.log('this.$i18n.locale', this.createdAt, this.$i18n.locale)
      return formatLocaleDate(this.createdAt, this.$i18n.locale)
    },
  },
}
</script>

<style scoped>
.title__link {
  color: black;
  text-decoration: none;
}

time {
  font-size: 1.1rem;
}

p {
  font-size: 1.1rem;
}
</style>
