<template>
  <v-card
    :flat="!raised"
    :max-width="maxWidth"
    :min-width="minWidth"
    class="d-flex flex-column clean-link"
    :style="{
      height: fullHeight && '100%',
    }"
  >
    <universal-link :to="link" :nuxt="nuxt" class="d-block">
      <v-img :src="pictureUrl" width="100%" aspect-ratio="0.7" cover />
    </universal-link>

    <div
      class="d-flex flex-column flex-grow-1"
      :class="{
        'pa-3': raised,
      }"
    >
      <v-card-title
        class="d-flex flex-column align-stretch flex-grow-1 pa-0 text-break"
        :class="{
          'mb-1': !small,
        }"
      >
        <universal-link
          :to="link"
          :nuxt="nuxt"
          class="d-block black--text"
          :class="{
            'pt-2': addMarginToLink,
          }"
          :style="{
            width: '100%',
          }"
        >
          <h3
            class="font-weight-bold line-clamp one mb-1"
            :class="[small || smallText ? 'text-subtitle-1' : 'title']"
          >
            <template v-if="showDistributor || showBrand">
              {{ brand }}
            </template>
            <template v-else>
              {{ name }}
            </template>
          </h3>

          <p
            class="font-weight-medium line-clamp mb-0"
            :style="{
              'line-height': !(small && smallText) && '1.5rem',
            }"
            :class="[small || smallText ? 'text-body-2' : 'text-subtitle-1']"
          >
            <template v-if="showDistributor || showBrand">
              {{ name }}
            </template>
            <template v-else>
              {{ description }}
            </template>
          </p>
        </universal-link>
      </v-card-title>

      <div
        class="d-flex justify-space-between align-center"
        :class="{
          'mb-2': addMarginToButtonsBar,
        }"
      >
        <div
          class="black--text mt-1"
          :class="[
            small || smallText ? 'subtitle-1 font-weight-medium' : 'title',
          ]"
        >
          {{ price }}€
        </div>

        <div class="d-flex justify-center pt-0">
          <v-tooltip
            v-for="(
              { icon, color, tooltipKey, event }, index
            ) in actionsButtons"
            bottom
            :key="index"
          >
            <template #activator="{ on, attrs }">
              <v-btn
                v-bind="attrs"
                icon
                :small="small"
                :color="color"
                class="ml-1"
                v-on="on"
                @click="$emit(`action:${event}`)"
              >
                <v-icon :size="small ? 18 : 22">
                  {{ icon }}
                </v-icon>
              </v-btn>
            </template>

            <span>
              <slot :name="`action:${tooltipKey}`">
                {{ tooltipKey }}
              </slot>
            </span>
          </v-tooltip>
        </div>
      </div>

      <p
        v-if="showDistributor && distributor"
        class="text--secondary font-weight-medium mb-0"
        :class="[small || smallText ? 'text-body-2' : 'text-subtitle-1']"
      >
        <v-icon aria-disabled="true"> mdi-link </v-icon>

        {{ distributor }}
      </p>
    </div>
  </v-card>
</template>

<script>
import UniversalLink from './UniversalLink.vue'

export default {
  name: 'ProductCard',
  inheritAttrs: false,
  components: {
    UniversalLink,
  },
  props: {
    _id: {
      type: String,
      required: true,
    },
    pictureUrl: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      default: null,
    },
    price: {
      type: [String, Number],
      required: true,
    },
    brand: {
      type: String,
      default: null,
    },
    distributor: {
      type: String,
      default: 'Yoox',
    },
    link: {
      type: String,
      default() {
        return `/product/${this._id}`
      },
    },

    showDistributor: {
      type: Boolean,
      default: false,
    },
    showBrand: {
      type: Boolean,
      default: false,
    },
    minWidth: {
      type: [String, Number],
      default: undefined,
    },
    maxWidth: {
      type: [String, Number],
      default: 400,
    },
    fullHeight: {
      type: Boolean,
      default: false,
    },
    grey: {
      type: Boolean,
      default: false,
    },
    small: {
      type: Boolean,
      default: false,
    },
    smallText: {
      type: Boolean,
      default: false,
    },
    raised: {
      type: Boolean,
      default: false,
    },
    liked: {
      type: Boolean,
      default: false,
    },
    disliked: {
      type: Boolean,
      default: false,
    },
    loved: {
      type: Boolean,
      default: false,
    },

    nuxt: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    truncatedDescription() {
      if (typeof this.description !== 'string') return null

      return this.description.slice(0, 60)
    },

    addMarginToLink() {
      return !this.raised
    },

    addMarginToButtonsBar() {
      if (this.raised) {
        return this.showDistributor
      }

      return !this.small
    },

    actionsButtons() {
      return [
        {
          icon: 'mdi-thumb-up-outline',
          color: !this.liked ? 'grey darken-1' : 'primary',
          tooltipKey: 'thumb-up',
          event: 'like',
        },
        {
          icon: 'mdi-thumb-down-outline',
          color: !this.disliked ? 'grey darken-1' : 'primary',
          tooltipKey: 'thumb-down',
          event: 'dislike',
        },
        {
          icon: 'mdi-heart-outline',
          color: !this.loved ? 'grey darken-1' : 'pink accent-3',
          tooltipKey: 'heart',
          event: 'love',
        },
      ]
    },
  },
}
</script>

<style scoped>
.clean-link a {
  text-decoration: none;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.one {
  -webkit-line-clamp: 1;
}
</style>
