<template>
  <v-card v-bind="$attrs" class="rounded-card">
    <slot />
  </v-card>
</template>

<script>
export default {
  name: 'RoundedCard'
}
</script>

<style lang="scss">
.v-card.rounded-card.rounded-card {
  border-radius: 1.5rem;
  box-shadow: rgba(12, 71, 114, 0.07) 0px 3.4rem 5rem;

  &::before {
    display: none;
  }
}
</style>
