<template>
  <nuxt-link v-if="nuxt" v-bind="$attrs">
    <slot />
  </nuxt-link>
  <router-link v-else v-bind="$attrs">
    <slot />
  </router-link>
</template>

<script>
export default {
  name: 'UniversalLink',
  props: {
    nuxt: {
      type: Boolean,
      default: false,
    },
  },
}
</script>
